* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*計算寬度時 包含padding*/
}

body {
    margin: 0;
}

/*清除浮動*/
.clearfix {
    clear: both;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}



/*1+2 css start*/
#p1bg {
    height: 100vh;
    background-image: url("/2018-10-23/page01/page01_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#logo {
    width: 5vw;
    margin: 0 auto;
    padding: 2vh 0 0 0;
}

#logo img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
/*web to ipad*/
@media screen and (max-width:1020px) {
    #logo {
        width: 20vw;
        margin: 0 auto;
        padding: 2vh 0 0 0;
    }
}
/*cellphone*/
@media screen and (max-width:960px) {
    #logo {
        width: 15vw;
        margin: 0 auto;
        padding: 2vh 0 0 0;
    }
}

 /*nav*/
 #navframe {
    /* height: 100vh;
    width: 30vw; */
    position: fixed;
    /* top: 0;
    right: 0; */
    z-index: 9999;
    height: 60px;
    width: 60px;
    top: 16.5%;
    right: 20.5%;
}

#navframe.active {
    height: 100vh;
    width: 30vw;
    top: 0;
    right: 0;
}

#navpic {
    height: 20%;
    position: relative;
    padding: 5% 5% 5% 5%;
}

#navmap {
    height: 80%;
    background: rgba(14, 49, 131, 1);
}

#navmapframe {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 5% 5% 5%;
    margin: 0 auto;
}

#buttonicon {
    color: white;
    font-size: 2.5em;
    background: rgba(14, 49, 131, 1);
    border-radius: 50%;
    padding: 0.3em;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

#buttonicon:active,
#buttonicon:hover {
    color: rgba(255, 255, 255, 0.6);
}

.nav_words:link,
.nav_words:visited {
    width: 100%;
    font-size: 2em;
    font-family: "Microsoft JhengHei";
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav_words:hover,
.nav_words:active {
    color: rgba(255, 255, 255, 0.6);
}

#navlogo {
    width: 5em;
    margin: 3% auto;
}

.none {
    display: none;
    transition: 0.3s;
}

@media screen and (max-width:960px) {

    .nav_words:link,
    .nav_words:visited {
        width: 100%;
        font-size: 0.5em;
        font-family: "Microsoft JhengHei";
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }#navframe {
        /* height: 100vh;
        width: 30vw; */
        position: fixed;
        /* top: 0;
        right: 0; */
        z-index: 9999;
        height: 60px;
        width: 60px;
        top: 16.5%;
        right: 20.5%;
    }
    
    #navframe.active {
        height: 100vh;
        width: 30vw;
        top: 0;
        right: 0;
    }

    #navmapframe {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5% 5% 5% 5%;
    }

    #fblink {
        display: block;
        margin: 0 auto;
    }

    #buttonicon {
        color: white;
        font-size: 2.5em;
        background: rgba(14, 49, 131, 1);
        border-radius: 50%;
        padding: 0.3em;
        position: absolute;
        bottom: 10%;
        left: 80%;
    }
}
#p2bg {
    height: 100vh;
    background-image: url("/2018-10-23/page02/page02_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 10vh 0;
}

#bannerframe {
    height: 100%;
    width: 100%;
    /*background: rosybrown;*/
    position: relative;
    overflow-x: hidden;
}

#yanmai {
    height: 40%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: red;*/
}

#wulong {
    height: 40%;
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    /*background: blue;*/
}

#yanmaipic {
    height: 100%;
    width: 100%;
    background-image: url("/2018-10-23/page02/yanmaiweb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

#wulongpic {
    height: 100%;
    width: 100%;
    background-image: url("/2018-10-23/page02/wulongweb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width:960px) {
    #yanmaipic {
        height: 100%;
        width: 100%;
        background-image: url("/2018-10-23/page02/yanmaimobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    #wulongpic {
        height: 100%;
        width: 100%;
        background-image: url("/2018-10-23/page02/wulongmobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

}

/*1+2 css end*/

/*3 css start*/
.title_3 {
    /*最新消息*/
    color: #756759;
    font-size: 2.250em;
    font-weight: bolder;
    font-family: "Microsoft JhengHei";
    position: absolute;
    /*父層bg3*/
    top:5%;
    /*最新消息往上推*/
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 655px) {
    .title_3 {
        top: 1%;
    }
}

.container_3 {
    max-width: 1140px;
    margin: 0 auto;
}

.bg_34{ /*3+4的背景 可推Y軸移草的位置*/
    background-image:url(/材質照片/bg34_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%; 
    
}


.bg_3 {/*日期+圈圈的父層*/
  
    padding: 20% 0;
    position: relative;
    /*子層title3*/
}

.date_3 {
    /*日期+圓圈*/
    width: 95px;
    height: 95px;
    background-color: rgb(191, 166, 135);
    color: white;
    border: 3px solid;
    border-radius: 999em;
    left: 9%;
    font-size: 1.500em;
    text-align: center;
    padding: 15px;
    box-shadow: 4px -2px 10px rgba(59, 34, 3, 1);
    float: left;
}

@media (max-width: 500px) {
    .date_3 {
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        top: 85%;
        left: 9%;
        font-size: 1.150em;
    }
}

/*DM box*/

.lunchbox {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*Swiper modifications */
.swiper-container.swiper-container3 {
    width: 100%;
    margin-top: 1em;

}

.swiper-wrapper.swiper-wrapper3 {
    margin-bottom: 3em;
    width: 100%;
    position: relative;
}

@media (min-width: 500px) {
    .swiper-wrapper3 {
        width: 100%;
    }
}


.swiper-pagination.swiper-pagination3 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    margin-left: 12px;
}

.swiper-button-prev.swiper-button-prev3 {
    display: none;
    left: 0;
    top: 0;
    margin-top: 0;
    height: calc(100% - 3em);
}

@media (min-width:500px) {
    .swiper-button-prev_3 {
        display: block;
    }
}

.swiper-button-next.swiper-button-next3 {
    display: none;
    right: 0;
    top: 0;
    margin-top: 0;
    height: calc(100% - 3em);
}

@media (max-width: 320px) {
    .swiper-button-next3 {
        display: block;
    }
}

/* content in swiper */

.product_3 {
    margin-left: auto;
    margin-right: auto;
}

.photograph_3 {
    position: relative;
    height: auto;
    width: 100%;
}
@media (max-width: 300px) {
    .photograph_3{
        font-size: .92em;
    }
}
.product__description_3 {
    /*圖片下面的字*/
    font-family: "Microsoft JhengHei";
    font-size: 1.500em;
    padding: 3%;
    display: flex;
    align-items: flex-end;
    margin: 6px;
}
@media (max-width: 655px) {
    .product__description_3 {
        font-size: 1.500em;
    }
    .clearfix {
        clear: both;
        /*清除浮動*/
    }
}

/*3 css end*/

/*4+5 css start*/
.container{
    max-width: 1140px;   
    margin: 0 auto;
}

.section_4{
    position: relative; 
}

.section_4 a:visited{
    color:#756759;
}
.section_4 a:hover{
    color:#bf761a;
}
.section_4 a:active{
    color:#0D3082;
}

.img_41{
    padding: 20%;
    position: relative; 
}

.img_41 img{ /*杯子*/
    width: 90%;
}

.img_42{  /*珍珠*/
    max-width: 25%;
    height: auto;
    position: absolute;
    left:37%;
    top: 36%;
}
.title_41{/*五十嵐嚴選*/
    color: #756759;
    font-weight: bolder;
    font-size: 2.250em;
    font-family:"Microsoft JhengHei"; 
    top: 10%;
    text-align: center;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #756759;
    border-radius: 10px;
    left: 68%;
    top: 64.5%;
    position: absolute;
    font-size: 1.000em;
    font-family:"Microsoft JhengHei";
   }
   .btn:hover {
    background-position: right center; 
}

@media (max-width: 500px) {
    .btn{
    padding: 10px;
   
    }
}
@media (max-width:321px) {
    .btn{
    padding: 10px;
    margin: 10px;
    left: 63%;
    }
}

.btn-1 {  /*按鈕顏色*/
    background-image: linear-gradient(to right, #deb887 0%, #e7d9c1 51%, #f3bf98 100%);
  }



.bg_5{
    background-image: url("/imgs/材質5.jpg");
    padding: 7% 0;
    background-size: cover;
}

.section_5{
    padding: 7% 0;
}

.title_5{
    text-align: center;
    font-size: 2.250em;
    letter-spacing: 0.625em;
    font-family:"Microsoft JhengHei";
    color:white;
    font-weight: bolder;
}

.img_5{
    padding: 10% 10% 0 10%;
}

.img_5 img{
    width: 100%;
    padding: 30px 0;
}
/*4+5 css end*/

/*6 css start*/

#page06 {
    max-width: 100vw;
    overflow-x: hidden;
}

#p6bg {
    height: 100vh;
    background-image: url("/XC0909-element/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}



#cup_pic {
    position: absolute;
    top: 0;
    left: 0;
}

#tea_pic {
    position: absolute;
    bottom: -100px;
    right: 0;
}

.container {
    max-width: 1140px;
    height: 100vh;
    margin: auto;
    position: relative;
}

#title_map {
    color: white;
    font-size: 3em;
    font-family: Microsoft JhengHei;
    text-align: center;
    padding: 3vh;
}

#mapframe {
    height: 60%;
    max-width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
}

#map {
    height:100%;
    width: auto;
}

#wordframe {
    max-height: 30vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3%;
    position: absolute;
    right: 10%;
    top: 30%;
    overflow: auto;
    color: white;
    font-size: 1em;
    font-family: Microsoft JhengHei;
    text-align: center;
    padding: 3vh;
    transition: 0.8s;
}
#frametitle{
    position: relative;
}

#sidetitle{
    font-family: Microsoft JhengHei;
    text-align: center;
    display: inline;
    
}
#close{
    font-size: 2.5em;
    position: absolute;
    right: 1vh;
}

#wordframe::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

#wordframe::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(224, 145, 145, 0.3);
}

#wordframe::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.nodisplay {
    height: 0px;
    width: 0px;
    display: none;
    transition: 0.8s;
}


#pinadd {
    color: rgb(255, 50, 50);
}

#pinadd:visited,
#pinadd:active {
    color: rgb(100, 0, 0);
}

@media screen and (max-width:1000px) {
    #cup_pic {
        height: 40vw;
    }

    #tea_pic {
        height: 60vw;
        bottom: -20px;
    }

    #wordframe {
        width: 70vw;
    }
}
/*6 css end*/

/*7+8 css start*/
.section_78 {
    background-image: url("/78imgs/咖啡2.jpg");
    background-size: cover;
    background-position: center;
    border: 0px #ccc solid;
    /* 7+8背景圖 */
}

/* 關於我們 */
.section7 {
    max-width: 1140px;
    margin: 0 auto;
}

.section7_title {
    color: #756759;
    font-size: 2.250em;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
/*78-swiper*/
.swiper-container.swiper-container7 {
    max-width: 90%;
    display: flex;
    justify-content: center;
    /* 輪播效果 */
}

.fas fa-angle-right {
    color: #999999;
}

.swiper-button-next.swiper-button-next7 {
    background-image: none;
}

.swiper-button-prev.swiper-button-prev7 {
    background-image: none;
}

/* join us */
.section8 {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 42px;
}

.section8_title {
    margin-top: 5%;
    color: #756759;
    font-weight: bolder;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    font-size: 2.250em;
}

.section8_container {
    max-width: 1000px;
    display: block;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* 兩張圖 */
}

.section8_container-1 {
    width: 50%;
}

.section8_container-2 {
    width: 50%;
}

.section8_img1 {
    width: 100%;
}

.section8_img2 {
    width: 100%;
}

/* footer */
.footer_icon_container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    position: relative;
    padding-top: 1%;
    /* 人力銀行 */
}

.footer_icon_container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    background-color: #999999;
    height: 1px;
    width: calc(50% - 120px);
    /* 前虛線 */
}

.footer_icon_container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    background-color: #999999;
    height: 1px;
    width: calc(50% - 120px);
    /* 後虛線 */
}

.footer_line {
    color: black;
    display: flex;
    align-items: center;
}

.footer {
    background-image: url("/78imgs/草png-06.png");
    background-size: cover;
    background-position: center;
    border: 0px #ccc solid;
    max-width: 100%;
    padding-bottom: 1%;
}

.footer_container {
    max-width: 600px;
    display: block;
    margin: auto;
}

.footer_logo {
    max-width: 20%;
    max-height: 100%;
}

.footer_item {
    max-width: 80%;
    float: right;
    font-size: 1.750em;
    font-weight: bolder;
    text-shadow: 3px 3px 3px rgb(13, 48, 130);
    color: white;
    padding-top: 3%;
    font-family: "Microsoft JhengHei";
}

.fi1 {
    padding-right: 1%;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:768px) {
    /*螢幕尺寸小於1200px時，套用以下css*/
    .footer_container {
        max-width: 384px;
        display: block;
        margin: auto;
    }
    .footer_item {
        width: 100%;
        font-size: 1em;
        padding-top: 5%;
        padding-left: 6%;
    }
}

@media screen and (max-width:600px) {
    /*螢幕尺寸小於1200px時，套用以下css*/
    .footer_container {
        max-width: 300px;
        display: block;
        margin: auto;
    }
    .footer_item {
        width: 100%;
        font-size: 0.75em;
        padding-top: 5%;
        padding-left: 6%;
    }
}

@media screen and (max-width:320px) {
    /*螢幕尺寸小於1200px時，套用以下css*/
    .footer_container {
        max-width: 150px;
        display: block;
        margin: auto;
        padding-top: 6%;
    }
    .footer_logo {
        padding-top: 6%;
    }
    .footer_item {
        width: 100%;
        font-size: 0.1px;
        padding-top: 0%;
        padding-left: 12%;
    }
}
/*7+8 end*/
